<strong>Olá, {{ deliveryman }}</strong>
<p>A delivery has canceled. Check details below:</p>
<p>
  <strong>Delivery id: </strong> {{ delivery_id }} <br />
  <strong>Product: </strong> {{ product }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  <br />
  <small>
    There was a problem with your delivery and the product is not available anymore.
  </small>
</p>
